figure.cartao{
  position:relative;
  border: 8px solid white;
  box-shadow: 1px 1px 4px green;
  height: 300px;
  width: 300px;
}

figure.cartao img{
  height: 100%;
  width: 100%;
}

figure.cartao figcaption{
  opacity: 0;
  position: absolute;
  top: 0%;
  background-color: rgba(54,100,56,.75);
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s;
  font-size: 15px;
}

figure.cartao button{
  position: absolute;
  opacity: 0;
  color: green;
  transition: 0.5s;
  width: 100px;
  height: 50px;
  top: 60%;
  left: 35%;
}

figure.cartao:hover figcaption{
  opacity: 1;
}

figure.cartao:hover button{
  opacity: 1;
}
